@font-face {
    font-family: "airspace";
    src: url("airspace-light.otf");
}

body {
    font-family: airspace, arial, verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#rockButton, #paperButton, #scissorsButton {
    border-top: solid black;
    border-bottom: solid black;
    border-width: 1px;
    margin: 50px;
}

button {
    display: inline-block;
    text-align: center;
    width: 325px;
    min-height: 225px;
    border: none;
    background: white;
    font-family: airspace, arial, verdana, sans-serif;
    font-size: 3em;
    cursor: pointer;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.human, .computer {
    margin: 10px;
}

.winner, .choices {
    font-size: 2em;
    min-height: 40px;
}

.roundWinner {
    font-size: 1.5em;
    min-height: 40px;
}

.humanScore, .computerScore {
    text-align: center;
}


